<footer class="navbar bg-color-blue-light">
  <div class="container">
  <li>This is a footer link</li>
  <li>This is a footer link</li>
  <li>This is a footer link</li>
  <li>This is a footer link</li>
</div>
</footer>
