<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/account_create.css">
</head>

<body>
        <% include ./partials/navbar %>
    <main role="main" class="main">
        <div class="container mb-5 mt-5">
        <h1>New Account</h1>
        <form action="/account/new" method='POST'> 
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control acc-name-inp" id="name" name="name" aria-describedby="name" placeholder="Account name">
            </div>
            <div class="form-group">
              <label for="total_amount">Amount</label>
              <input type="number" class="form-control" id="total_amount" name="total_amount" placeholder="0">
            </div>
            
            <button type="submit" class="btn btn-primary acc-create-btn">Submit</button>
          </form>
        </div>
        <% include ./partials/footer %>
    </main>



    <% include ./partials/script_foot %>
    <% include ./partials/ajax_notifier %>
    
</body>

</html>