<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>
      <link rel="stylesheet" type="text/css" href="css/landing.css">
  </head>


<body>
  <header>
      <% include ./partials/header %>
        </header>
 
<main role="main" class="main">
    <section class="hero_section">
      <div class="hero">
        <div class="hero__content">
            <h1 class='hero__title'>Money Tracker</h1>
            <p class='hero__lead'>Have fun while managing your money</p>
          <a href="#" class='btn btn-success hero__link--signup'>Signup</a>
        </div>
        <a href="#" class='hero__link--more'>Know More</a>
        <i class="fas fa-angle-down"></i>

      </div>

      </div>

    </section>

    <section class="features"></section>
  </main>


  <% include ./partials/script_foot %>

</body>

</html>