<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
</head>

<body>

    <main role="main" class="main container-flex">
        <% include ./partials/navbar %>
        <div class="reg-page container">
            <!--Login form-->
            <div id="loginbox" class="reg-page__loginbox">
                <div class="card bg-light">
                    <div class="card bg-lightcol">
                        <div class="card-header">
                            Login
                        </div>
                        <div class="card-body">
                            <form id="loginform" action="/user/login" method='POST'>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Enter Password">
                                </div>
                                <div class="card-footer">
                                    <div class="reg-page__loginbtn col-sm-12 form-group">
                                        <button id="btn-login" type="submit" class="btn btn-primary">
                                            Login
                                        </button>
                                    </div>
                                    <div class="reg-page__loginfoot col-md-12 form-group">
                                        Don't have an account!
                                        <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                            Sign Up Here
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Singup form-->
            <div id="signupbox" class="reg-page__signupbox">
                <div class="card bg-light">
                    <div class="card-header">
                        Sign up
                        <div class="reg-page__signuphead">
                            <a id="signinlink" href="" onclick="$('#signupbox').hide(); $('#loginbox').show()">
                                Sign In
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="signupform" action="/user/register" method='POST'>
                            <div class="form-group">
                                <label for="username">
                                    Username
                                </label>
                                <input type="username" class="form-control" name="username" placeholder="User Name">
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Email
                                </label>
                                <input type="email" class="form-control" name="email" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <label for="password">
                                    Password
                                </label>
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <div class="card-footer">
                                <button id="btn-signup" type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <% include ./partials/footer %>
        </footer>
    </main>
    <% include ./partials/script_foot %>
</body>

</html>