body {
  margin: 0;
}

.dashboard__title--sub {
  font-size: 1.3rem;
}

/* ++++++++++++++++++++++++DASHBOARD ++++++++++++++++++++++++++*/
.dashboard {
  border: 1px solid black;
  height: 30rem;
}

.dashboard__sidebar__link.active {
  background: grey;
}

.dashboard__sidebar__link-box:hover {
  background: rgb(85, 85, 85);
}

.dashboard__content {
  flex-basis: 85%;
}

/* Home Page */
.net-worth{
  
  font-size: 1.5rem;
  
}

/* Account Page */

.dashboard__account-list__row {
  min-height: 3rem;
}
.dashboard__account-list__row__header {
  background: grey;
  color: #fff;
}

.dashboard__account-list__row__item--total {
  min-width: 6rem;
}
.dashboard__account-list__row--footer {
  background: white;
}
.dashboard__new-account__btn {
  float: right;
}

/* SAVINGS */
.dashboard__saving-list{
  
}

.dashboard__saving-list__progress-bar{
  height: 1.8rem;
  width: 100%;
}
.dashboard__saving__list__progress-bar--inside{
  background: blue;
  width: 15%;
  height: 100%;
  color: #fff;
}
