
.dashboard{
    display: flex;
    height: 30rem;
    border: 1px solid black;
}
.dashboard__title--main{
    margin-bottom: 4rem;
}
.dashboard__title--sub{
    font-size: 1.3rem;
}
.dashboard__content{
    
}

.dashboard__sidenav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.dashboard__sidenav__nav-item{
    display: flex;
    background: grey;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    flex-grow: 1;
    border: 1px solid #FFF;
    
    
}

/* ++++++++++++++++++++++++DASHBOARD ++++++++++++++++++++++++++*/
.frame {
    padding-top: 3rem;
  }
  
  .dashboard {
    border: 1px solid black;
    height: 30rem;
    border-radius: 3px;
    list-style: none;
  }
  .dashboard__sidebar {
    padding: 0;
    
  }
  .dashboard__sidebar__link {
    flex-grow:1;
    
    
  }
  .dashboard__sidebar__link.active{
    background: grey;
    
    
  }
  .dashboard__sidebar__link-box {
    flex-grow:1;
    align-self: stretch;
  }
  
  .dashboard__sidebar__link-box:hover {
    background: rgb(104, 103, 103);
  }
    .dashboard__content {
    width: 100%;
    padding: 2rem 3rem;
      }
  .dashboard__account-list {
    background: white;
    border-radius: 3px;
    margin-bottom: 1rem;
  }
  .dashboard__account-list__row {
    min-height: 3rem;
  }
  .dashboard__account-list__row__header {
    background: grey;
    color: #fff;
  }
  .dashboard__account-list__row--account {
    border: 1px solid;
    border-radius: 3px;
  }
  .dashboard__account-list__row__item {
    padding: 0.5rem;
  }
  .dashboard__account-list__row__item--name {
    font-weight: bold;
  }
  .dashboard__account-list__row__item--total {
    min-width: 6rem;
  }
  .dashboard__account-list__row--footer {
    background: white;
  }
  .dashboard__new-account__btn {
    float: right;
  }
  
  