.main{
  background: linear-gradient(to right bottom, #02c1ff, #0270ff)
}
.reg-page {
  opacity: 0.5;
}
.reg-page__loginbox {
  max-width: 25rem;
  height: 24rem;
  margin:0 auto;
}
.reg-page__loginbtn {
  margin-top:1rem;
}
.reg-page__loginfoot {
  font-size:85%;   
}    
.reg-page__signupbox {
  display:none;
  max-width: 25rem;
  height: 24rem;
  margin:0 auto; 
}  
.reg-page__signuphead {
  float:right;
  font-size: 65%;
  position: relative;
  bottom: -1rem;
}
