
    
  
        <div class="dashboard__account-list d-flex flex-column flex-wrap">
  
          <div class="dashboard__account-list__content">
            <div class="dashboard__account-list__row dashboard__account-list__row--account d-flex flex-wrap justify-content-between align-items-center">
              <li class="dashboard__account-list__row__item dashboard__account-list__row__item--name flex-fill">
                My first account
              </li>
              <li class="dashboard__account-list__row__item dashboard__account-list__row__item--total">
                +1345$
              </li>
              <li class="dashboard__account-list__row__item dashboard__account-list__row__item--actions">
                <button class="btn btn-danger">
                <i class="fa fa-times"></i>
             </button>
              </li>
            </div>
          </div>
        </div>
        <div class="dashboard__new-account">
            <button class="dashboard__new-account__btn btn btn-success btn--create">Create</button>
        </div>
        