<h2 class="mb-2">Your Money</h2>

<ul class="net-worth d-flex flex-wrap justify-content-around align-items-center">
    <li class="net-worth__item d-flex flex-column mr-3">
        <span class="net-worth__item__title">Cash</span>
        <span class="net-worth__item__value align-self-center text-success">250$</span>
    </li>
    <div class="net__worth__row d-flex justify-content-between align-items-center">
        <span class="sign">+</span>
        <li class="net-worth__item d-flex flex-column mr-3 ml-3">
            <span class="net-worth__item__title">Accounts</span>
            <span class="net-worth__item__value align-self-center text-success">250$</span>
        </li>
    </div>
    <div class="net__worth__row d-flex justify-content-between align-items-center">
        <span class="sign">=</span>
        <li class="net-worth__item d-flex flex-column ml-3">
            <span class="net-worth__item__value net-worth__item__value--total align-self-center text-success">500$</span>
        </li>
    </div>
    <div class="net__worth__row d-flex justify-content-between align-items-center">
        <span class="sign">-</span>
        <li class="net-worth__item d-flex flex-column mr-3 ml-3">
            <span class="net-worth__item__title">Savings</span>
            <span class="net-worth__item__value align-self-center text-success">125$</span>
        </li>
    </div>
    <div class="net__worth__row d-flex justify-content-between align-items-center">
    <span class="sign">=</span>
    <li class="net-worth__item d-flex flex-column mr-3 ml-3">
        <span class="net-worth__item__title">Available</span>
        <span class="net-worth__item__value align-self-center text-success">375$</span>
    </li>
    </div>
</ul>