<h2 class="mb-3">Net Worth</h2>

<ul class="net-worth d-flex flex-wrap justify-content-around align-items-center">
    <li class="net-worth__item d-flex flex-column mr-3">
        <span class="net-worth__item__title">Cash</span>
        <span class="net-worth__item__value align-self-center">250</span>
    </li>
    <span class="sign">+</span>
    <li class="net-worth__item d-flex flex-column mr-3 ml-3">
        <span class="net-worth__item__title">Accounts</span>
        <span class="net-worth__item__value align-self-center">250</span>
    </li>
    <span class="sign">=</span>
    <li class="net-worth__item d-flex flex-column ml-3">
        <span class="net-worth__item__title">Total</span>
        <span class="net-worth__item__value net-worth__item__value--total align-self-center text-success">500</span>
    </li>
    
</ul>


